.aboutmebackgr{
   
    background-image: linear-gradient(to right bottom, #ffffff, #eeedfa, #dadcf5, #c5cbf1, #acbced, #9ab1ec, #86a6ec, #709beb, #5f91ee, #4d87f0, #387df2, #1973f4);
height: auto;
    filter: brightness(1.2);
    
    
}
body{
overflow-x:auto;
-webkit-appearance: none;
overflow-y: scroll;
}




.copyright{
      
  color: black;
  font-weight: 400;
  font-size: 9px;
 
}


.container1{
  grid-gap:90px;
    display: grid;
    grid-auto-rows: minmax(320px,auto);
    grid-template-columns: repeat(2,1fr);

}

.information{
    grid-column:1/3;
}
.box{
    display: grid;

    color: rgb(0, 0, 0);

    justify-items: center;
    align-items: center;
 
}

.box1{
    
}

.box2{
    grid-column: 1/3;
 
}
 
 .detailsfont{
    width: 60%;
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
 }



.titleaboutme{
  font-family: 'Abril Fatface', cursive;
   color: rgb(4, 108, 187);
  font-weight: bold;

}

.footer1{
    grid-column:1/3 ;
    align-items: flex-end;
    
}


.infoname{
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.copyright{

    color: black;
    font-weight: 400;
    font-size: 15px;
   
}




























@media (max-width: 1300px){
 
    html, body {
        overflow-x: hidden;
      }
      body {
        position: relative
      }
    .container1{
        grid-gap:90px;
        grid-column-gap: 0px;
          display: grid;
          grid-auto-rows: minmax(150px,auto);
          grid-template-columns: repeat(1,1fr);
          grid-auto-columns: minmax(0px,auto);
          grid-template-areas: 
          "box2"
          "box3"
          "aboutinfo"
          "information"
          
          
          ;
      
      }
      
     
      .aboutinfo{
        grid-gap:30px;
    
    }
      .box{
          display: grid;
      
          color: rgb(0, 0, 0);
      
          justify-items: center;
          align-items: center;
         
       
      }
      
    
      
      .box2{
        
          grid-area: box2;
       
      }
       
      .box3{
        grid-area: box3;
      }


       .detailsfont{
          width: 70%;
          font-size: 19px;
          font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
        text-align:justify;
        word-break: break-all;
       }
      
      .aboutinfo{
        grid-area: aboutinfo;
      }
      
      .titleaboutme{
        font-family: 'Abril Fatface', cursive;
        color: rgb(4, 108, 187);
       font-weight: bold;
      
      }
      
      .footer1{
          
          align-items: flex-end;
          
      }
      
      
      .infoname{
        font-size:14px ;
          font-weight: bold;
          font-family:Verdana, Geneva, Tahoma, sans-serif;
      }
      .details1{
        font-size: medium;
      }
      .copyright{
      
          color: black;
          font-weight: 400;
          font-size: 9px;
         
      }
      
      
      .information{
        grid-area: information;
      }
      





 
}


@media (max-width: 500px){
 
}