.information{
    color: re;
    left: 10px;
    top: 14px;
    position:relative;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.emailinfo{

    color: re;
    left: 50px;
    top: -20px;
    position:relative;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

